<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deployer Server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/md5.js') }}"></script>
    <script src="{{ url_for('static',filename='js/cookies.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Deployer</a>
</nav>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="account-wall">
                <h1 class="text-center login-title">Log in to Deployer</h1>
                <form class="form-signin">
                    {% if authentication == 'True' %}
                    <input type="text" class="form-control" id="userName" placeholder="User Name" autofocus>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    {% else %}
                    <input type="text" class="form-control" id="userName" placeholder="User Name" autofocus>
                    <br>
                    {% endif %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                            onclick="_callAuthUser('{{ addr }}', '{{ port }}')">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    <div class="footer-copyright py-3 text-center">
        Deployer version {{ version }}
    </div>
</footer>
</body>
</html>