<!DOCTYPE html>
<html lang="en">
<head>
    <title>Deployer Server Management Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/management.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/HoldOn.min.css') }}">

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/HoldOn.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/cookies.js') }}"></script>
    <script src="{{ url_for('static',filename='js/management.js') }}"></script>

</head>
<body onload="checkExclusiveRights('{{ addr }}', '{{ port }}');">

<!-- New modal add user dialog -->
<div class="modal fade" id="addUserDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserDialogLabel">Add New user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You can add new user for Deployer.</p>
                <table class="innerTable">
                    <tr>
                        <td>UserName:</td>
                        <td><input class="contextRoot" id="userName" type="text"/></td>
                    </tr>
                    <tr>
                        <td>password:</td>
                        <td><input class="http" id="password" type="password"/></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="addUserFormSaver btn btn-primary btn-sm">Add</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- New modal configuration server dialog -->
<div class="modal fade" id="configurationDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="configurationDialogLabel">Configuration of server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You can change/configure http port, https port and context name of the server.</p>
                <table class="innerTable">
                    <tr>
                        <td>context:</td>
                        <td><input class="contextRoot" id="contextRoot" type="text"/></td>
                    </tr>
                    <tr>
                        <td>http:</td>
                        <td><input class="http" id="http" type="text"/></td>
                    </tr>
                    <tr>
                        <td>https:</td>
                        <td><input class="https" id="https" type="text"/></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="configurationFormSaver btn btn-primary btn-sm">Configure</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- New modal Create server dialog -->
<div class="modal fade" id="createNewServerDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createNewServerLabel">Create new server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <td>New server name:</td>
                <td><input id="serverName" type="text" autofocus/></td>
            </div>
            <div class="modal-footer">
                <button type="button" class="createNewServerFormSaver btn btn-primary btn-sm">Create</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- New modal Upload deployment to server dialog -->
<div class="modal fade" id="uploadDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadDialogLabel">Upload deployment to server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <tr>
                    <td>File:</td>
                    <td><input id="deploymentFile" class="deploymentFile btn-primary btn-sm btn-file" type="file"></td>
                </tr>
            </div>
            <div class="modal-footer">
                <button type="button" class="uploadFormSaver btn btn-primary btn-sm">Upload</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- New modal remove server dialog -->
<div class="modal fade" id="removeServerDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeServerDialogModalLabel">Remove existing server</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="removeServerText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="removeServerSaver btn btn-primary btn-sm">Remove</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- New modal loading dialog -->
<div class="modal fade" id="loadingDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <div class="loader"></div>
                    <div>
                        <!-- TODO dynamic text like starting, stoping, configuring, deploying, removing -->
                        <strong id="loadingDialogText">Working ...</strong><br>
                        <small>A team of highly trained monkeys has been dispatched to resolve your request.</small>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Deployer ( host: {{ addr }}, port: {{ port }}, environment: {{ environment }} )</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active" id="addUser">
            <a href="#addUser" onclick="showAddUserDialog('{{ addr }}', '{{ port }}')" class="nav-link">Add user</a>
        </li>
        <li class="nav-item active">
            <a href="#logout" class="nav-link" onclick="logout('{{ addr }}', '{{ port }}')">Logout</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <button type="button" onclick="showCreateNewServerDialog('{{ addr }}', '{{ port }}')"
                class="btn btn-primary btn-sm">Create new server
        </button>
    </ul>
    <script type="text/javascript">
        // Enable/Disable admin menu
        var addUserMenuItem = document.getElementById("addUser");
        if(getCookie('userName').toLowerCase() != 'administrator'){
            addUserMenuItem.style.display = "none";
        }






    </script>
</nav>

{% if (servers is defined) and servers %}
<table class="table table-striped table-bordered table-sm">
    <thead>
    <tr>
        <th style="width: 16.66%">Server name:</th>
        <th style="width: 4.16%">Status:</th>
        <th style="width: 16.66%">Context:</th>
        <th style="width: 4.16%">Http:</th>
        <th style="width: 4.16%">Https:</th>
        <th style="width: 8.33%">URL:</th>
        <th style="width: 8.33%">Deployed on:</th>
        <th style="width: 8.33%"></th>
    </tr>
    </thead>
    <tbody>
    {% for serverName, status, http, https, contextRoot, deployedDateTime in servers %}
    <tr>
        <th>{{ serverName }}</th>
        <th>
            {% if http == '' or https == '' %}
            <img src="{{ url_for('static',filename='img/warn.jpg') }}" width="20" height="20" data-toggle="tooltip"
                 title="Server is not deployed!">
            {% elif status == 0 %}
            <img src="{{ url_for('static',filename='img/down.jpg') }}" width="20" height="20" data-toggle="tooltip"
                 title="Server is DOWN!">
            {% else %}
            <img src="{{ url_for('static',filename='img/up.jpg') }}" width="20" height="20" data-toggle="tooltip"
                 title="Server is UP!">
            {% endif %}
        </th>
        <th>{{ contextRoot }}</th>
        <th>{{ http }}</th>
        <th>{{ https }}</th>
        <th>
            {% if http != '' or https != '' %}
            <a href="http://{{ addr }}:{{ http }}/{{ contextRoot}}" target="_blank">[http |</a>
            <a href="http://{{ addr }}:{{ https }}/{{ contextRoot}}" target="_blank">https]</a>
            {% endif %}
        </th>
        <th>
            {{ deployedDateTime }}
        </th>
        <th>
            <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <!-- If ports are empty - never deployed before, disable start, stop, config button / enable deploy, remove button -->
                {% if http == '' or https == '' %}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item disabled" href="#start">Start</a>

                    <a class="dropdown-item disabled" href="#stop">Stop</a>

                    <a class="dropdown-item disabled" href="#configure">Configure</a>

                    <a class="dropdown-item"
                       onclick="showUploadDeploymentDialog('{{ addr }}', '{{ port }}', '{{ serverName }}')"
                       href="#deploy">Deploy</a>

                    <a class="dropdown-item disabled" href="#downloadLogs">Download
                        Logs</a>

                    <a class="dropdown-item"
                       onclick="showRemoveServerDialog('{{ addr }}', '{{ port }}', '{{ serverName }}')"
                       href="#remove">Remove</a>
                </div>
                {% endif %}
                <!-- INR, enable start, config, deploy, remove button / disable stop button -->
                {% if status == 0 %}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="startServer('{{ addr }}', '{{ port }}', '{{ serverName }}')"
                       href="#start">Start</a>

                    <a class="dropdown-item disabled" href="#stop">Stop</a>

                    <a class="dropdown-item"
                       onclick="showConfigurationDialog('{{ addr }}', '{{ port }}', '{{ contextRoot }}', '{{ http }}', '{{ https }}', '{{ serverName }}')"
                       href="#configure">Configure</a>

                    <a class="dropdown-item"
                       onclick="showUploadDeploymentDialog('{{ addr }}', '{{ port }}', '{{ serverName }}')"
                       href="#deploy">Deploy</a>

                    <a class="dropdown-item" target="_blank"
                       href="http://{{ addr }}:{{ port }}/api/serverLogs/{{ serverName }}">Download
                        Logs</a>

                    <a class="dropdown-item"
                       onclick="showRemoveServerDialog('{{ addr }}', '{{ port }}', '{{ serverName }}')"
                       href="#remove">Remove</a>
                </div>
                {% endif %}
                <!-- ISR, disable start, config, deploy, remove button / enable stop button -->
                {% if status == 1 %}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item disabled" href="#start">Start</a>

                    <a class="dropdown-item" onclick="stopServer('{{ addr }}', '{{ port }}', '{{ serverName }}')"
                       href="#stop">Stop</a>

                    <a class="dropdown-item disabled" href="#configure">Configure</a>

                    <a class="dropdown-item disabled" href="#deploy">Deploy</a>

                    <a class="dropdown-item" target="_blank"
                       href="http://{{ addr }}:{{ port }}/api/serverLogs/{{ serverName }}">Download
                        Logs</a>

                    <a class="dropdown-item disabled" href="#remove">Remove</a>
                </div>
                {% endif %}
            </div>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
    <strong>Oh snap!</strong> There are currently no servers deployed by Deployer -> Create one by blue button in
    navbar.
</div>
{%endif %}
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    <div class="footer-copyright py-3 text-center">
        Deployer version {{ version }}
    </div>
</footer>
</body>


</html>